@import "../../styles/variables.scss";

.relation-overview {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__header {
    background: #333;
    color: #eee;
    height: auto;
    padding: 0 0.5rem;
    flex: 0 0 auto;
    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      &__item {
        margin: 0 0.25rem;
        display: var(--block-operation-display);
      }
    }
  }
  &__info-dialog {
    z-index: $info-dialog-z-index;
    dl {
      dt {
        &::after {
          content: ":";
        }
      }
      dd {
        margin-bottom: 0.25rem;
      }
    }
  }
  &__relations {
    flex: 1 1 auto;

    --block-operation-display: none;
    --relation-link__options-display: none;

    &--show-options {
      --block-operation-display: block;
      --relation-link__options-display: block;
    }
  }
}

.optionsDialog {
  margin: 0;
  left: auto;
}

.dochub__editor {
  &-name {
    color: #eee;
    text-decoration: none;
  }
  &-title {
    color: #eee;
    text-decoration: none;
    &:hover {
      color: #eee;
    }
  }
}
