
<div class="bg-light py-5">
  <header class="dh-header">
    <!-- <div class="container jumbotron">
      <div class="row">
        <div class="col-12">
          <h1>正在翻译</h1>
        </div>
      </div>
    </div> -->
  </header>
  <main class="docs-list-container">
    <div class="container">
      <div class="list-group docs" id="common-docs">
          <!-- <a v-for="doc in docs" v-bind:href="'<?=site_url()?>/doc/show/'+doc[0]" class="package list-group-item" target="_blank"> -->
          <!-- <a v-for="doc in docs" v-bind:href="show_url_pref + doc[0]" class="package list-group-item" target="_blank">
            <div class="row">
              <div class="col-md-3">
                <h4 class="package-name"></h4>
              </div>
              <div class="col-md-9 d-none d-sm-block">
                <p class="package-description">{{doc[1]}}</p>
              </div>
              <div class="package-extra-info col-md-9 offset-md-3">
                <span>
                  <i class="fa fa-star"></i> 
                </span>
              </div>
            </div>
          </a> -->
          <div class="album py-5 bg-light">
            <div class="container">
              <div class="row">
<?php           foreach($docs as $doc): ?>
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16353b51c06%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16353b51c06%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.45000076293945%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    <div class="card-body">
                      <h4><?=$doc['doc_name']?></h4>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-star"></i>关注</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-users"></i>参与翻译</button>
                        </div>
                        <small class="text-muted"><i class="fa fa-star"></i>8848</small>
                      </div>
                    </div>
                  </div>
                </div>
<?php           endforeach;?>
              </div>
            </div>
          </div>
        <!-- <a v-on:click="showAllDocs" v-if="!isAllDocs" class="package list-group-item all-docs">所有开源项目列表</a> -->
      </div>
    </div>
    <?=$pagination?>
  </main>
</div>
