<style>
  .dh-profile{
    margin-top: 25px;
    font-size: 14px;
  }
  .dh-profile h4{
    margin-top: 10px;
  }
  .dh-profile .dh-details{
    list-style: none;
    padding: 20px 0 0;
  }
  .dh-profile .dh-common-docs{
    list-style: none;
    padding: 0;
  }
</style>
<main class="container dh-profile">
  <div class="row">
    <section id="v-dh-profile-card" class="col-md-3">
      <div class="container">
        <img src="<?=base_url('views/img/bootstrap.svg')?>" alt="" class="img img-fluid">
        <h4>{{user.user_name}}</h4>
        <p>
          <template v-if="user.user_bio == ''">
            {{user.user_bio}}
          </template>
          <template v-else>
            <a href="">添加个人简历</a>
          </template>
        </p>
        <ul class="dh-details border-top">
          <li v-if="user.user_address">
            <i class="fa fa-map-marker fa-fw"></i> {{user.user_address}}
          </li>
          <li v-if="user.user_contact_address">
            <i class="fa fa-envelope fa-fw"></i> {{user.user_email}}
          </li>
        </ul>
        <button class="btn btn-outline-success btn-block">修改个人信息</button>
      </div>
    </section>
    <section id="v-dh-profile-docs" class="col-md-8">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a @click="changeTab" :class="{ active: currentRoute == '#home' }" class="nav-link" href="#home">主页</a>
        </li>
        <li class="nav-item">
          <a @click="changeTab" :class="{ active: currentRoute == '#participation' }" class="nav-link" href="#participation">参与翻译</a>
        </li>
        <li class="nav-item">
          <a @click="changeTab" :class="{ active: currentRoute == '#collection' }" class="nav-link" href="#collection">收藏</a>
        </li>
      </ul>
      <div class="mt-4">
        <template v-if="currentRoute == '#home'">
          <a class="btn-link float-right mt-2" href="#">自定义</a>
          <h4 class="mb-2">常用文档</h4>
        </template>
        <template v-if="currentRoute == '#participation'">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i>
            </div>
            <input v-on:input="findDocs" v-model="search" class="form-control" placeholder="文档名" autocomplete="off" autofocus="" tabindex="0" autocorrect="off" autocapitalize="off" spellcheck="false"> 
          </div>
        </template>
        <template v-if="currentRoute == '#collection'">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i>
            </div>
            <input v-on:input="findDocs" v-model="search" class="form-control" placeholder="文档名" autocomplete="off" autofocus="" tabindex="0" autocorrect="off" autocapitalize="off" spellcheck="false"> 
          </div>
        </template>
        <ul class="row dh-common-docs mb-4">
          <li v-for="doc in docs" class="col-md-6 mb-3">
            <div class="h-100 p-3 border">
              <span class="d-block">
                  <a href="/1010543618/discard-znull" class="text-bold">
                    <span class="repo js-repo">{{doc.doc_name}}</span>
                  </a>
              </span>
              <p class="pinned-repo-desc text-gray text-small d-block mt-2 mb-3">{{doc.description}}</p>
              <p class="mb-0 f6 text-gray">
                <span class="repo-language-color pinned-repo-meta" style="background-color:#4F5D95;"></span>
                PHP
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</main>
