<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>dochub</title>
  <script>BASE_URL = "<?=base_url()?>";SITE_URL = "<?=site_url()?>"</script>
  <script src="https://cdn.bootcss.com/require.js/2.3.5/require.js"></script>
  <script src="/views/js/main.js"></script>
  <script>require(['user-profile'])</script>
  <style>
    .dh-profile{
      margin-top: 25px;
      font-size: 14px;
    }
    .dh-profile h4{
      margin-top: 10px;
    }
    .dh-profile .dh-details{
      list-style: none;
      padding: 20px 0 0;
    }
    .dh-profile .dh-common-docs{
      list-style: none;
      padding: 0;
    }
  </style>
</head>
<body>
  <header id="v-dh-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a style="position: relative;" class="navbar-brand mr-0 mr-md-2" href="/" aria-label="dochub">
        <svg class="d-block" width="36" height="36" viewBox="0 0 612 612" xmlns="http://www.w3.org/2000/svg" focusable="false">
          <title>dochub</title>
          <path fill="currentColor" d="M510 8a94.3 94.3 0 0 1 94 94v408a94.3 94.3 0 0 1-94 94H102a94.3 94.3 0 0 1-94-94V102a94.3 94.3 0 0 1 94-94h408m0-8H102C45.9 0 0 45.9 0 102v408c0 56.1 45.9 102 102 102h408c56.1 0 102-45.9 102-102V102C612 45.9 566.1 0 510 0z"></path>
        </svg>
        <div style="line-height: 36px; font-size: 26px; position: absolute; top: 3px; left: 8px;" >D</div>
      </a>
      <a class="navbar-brand" href="#">dochub</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">正在翻译</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">分类查找</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <template v-if="user === null || user === undefined">
            <li class="nav-item">
              <a class="nav-link" href="<?=site_url('/user/login')?>">登录</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">注册</a>
            </li>
          </template>
          <template v-else>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img style="width: 20px" class="img rounded-circle" src="/views/img/bootstrap.svg" alt="">{{user.user_name}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" >
                <a class="dropdown-item" href="<?=site_url('user/profile')?>">个人信息</a>
                <a class="dropdown-item" href="#">收藏</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" v-on:click="logout">注销</a>
              </div>
            </li>
          </template>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container dh-profile">
    <div class="row">
      <section id="v-dh-profile-card" class="col-md-3">
        <div class="container">
          <img src="/views/img/bootstrap.svg" alt="" class="img img-fluid">
          <h4>{{user.user_name}}</h4>
          <p>
            <template v-if="user.user_bio == ''">
              {{user.user_bio}}
            </template>
            <template v-else>
              <a href="">添加个人简历</a>
            </template>
          </p>
          <ul class="dh-details border-top">
            <li v-if="user.user_address">
              <i class="fa fa-map-marker fa-fw"></i> {{user.user_address}}
            </li>
            <li v-if="user.user_contact_address">
              <i class="fa fa-envelope fa-fw"></i> {{user.user_email}}
            </li>
          </ul>
          <button class="btn btn-outline-success btn-block">修改个人信息</button>
        </div>
      </section>
      <section id="v-dh-profile-docs" class="col-md-8">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a @click="changeTab" :class="{ active: currentRoute == '#home' }" class="nav-link" href="#home">主页</a>
          </li>
          <li class="nav-item">
            <a @click="changeTab" :class="{ active: currentRoute == '#participation' }" class="nav-link" href="#participation">参与翻译</a>
          </li>
          <li class="nav-item">
            <a @click="changeTab" :class="{ active: currentRoute == '#collection' }" class="nav-link" href="#collection">收藏</a>
          </li>
        </ul>
        <div class="mt-4">
          <template v-if="currentRoute == '#home'">
            <a class="btn-link float-right mt-2" href="#">自定义</a>
            <h4 class="mb-2">常用文档</h4>
          </template>
          <template v-if="currentRoute == '#participation'">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i>
              </div>
              <input v-on:input="findDocs" v-model="search" class="form-control" placeholder="文档名" autocomplete="off" autofocus="" tabindex="0" autocorrect="off" autocapitalize="off" spellcheck="false"> 
            </div>
          </template>
          <template v-if="currentRoute == '#collection'">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i>
              </div>
              <input v-on:input="findDocs" v-model="search" class="form-control" placeholder="文档名" autocomplete="off" autofocus="" tabindex="0" autocorrect="off" autocapitalize="off" spellcheck="false"> 
            </div>
          </template>
          <ul class="row dh-common-docs mb-4">
            <li v-for="doc in docs" class="col-md-6 mb-3">
              <div class="h-100 p-3 border">
                <span class="d-block">
                    <a href="/1010543618/discard-znull" class="text-bold">
                      <span class="repo js-repo">{{doc.doc_name}}</span>
                    </a>
                </span>
                <p class="pinned-repo-desc text-gray text-small d-block mt-2 mb-3">{{doc.description}}</p>
                <p class="mb-0 f6 text-gray">
                  <span class="repo-language-color pinned-repo-meta" style="background-color:#4F5D95;"></span>
                  PHP
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </main>
</body>
</html>