  <footer class="d-print-none">
    <div class="container">
      <div class="row">
        <div class="footer-about col-md-6" id="about">
          <h4>关于 Dochub</h4>
          <p>Dochub是一个网站。</p>
        </div>
        <div class="footer-links col-md-4 col-sm-12">
          <h4>友情链接</h4>
          <ul class="list-unstyled list-inline">
            <li>
              <a href="http://www.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'footer', 'click', 'footer-bootcss.com'])">Bootstrap中文网</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copy-right">
      <span>© 2012-2333 </span>
      <a>自ICP备9号</a>
      <span> 自公网安备9</span>
    </div>
  </footer>
  <script>
    function clearup_and_trans_doc(){
      location.href = '<?=site_url("doc/translate{$info['page_para']}")?>'
    }
    function revise_doc(){
      location.href = '<?=site_url("doc/revise{$info['page_para']}")?>'
    }
  </script>
</body>
</html>