.dochub {
  &__header {
    height: 48px;
    display: flex;
    align-items: center;
    background: #333;

    &__name {
      margin-left: 1rem;
      font-size: 1.8em;
      color: #eee;
      text-decoration: none;
    }

    &__right {
      margin-right: 1rem;
    }
  }
}
